/*

**/.DS_Store
**.log


# Whitelist

!.gitignore
!.gitconfig
!.Xdefaults
!.profile
!.zprofile
!.xinitrc
!.xprofile
!.Xdefaults
!.yarnrc

!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/bootstrap-arch

!.config/
.config/*

!.config/bookmarks
!.config/directories
!.config/inputrc

!.config/fontconfig/
.config/fontconfig/*
!.config/fontconfig/fonts.conf


!.config/gtk-2.0/
.config/gtk-2.0/*
!.config/gtk-2.0/gtkrc-2.0

!.config/gtk-3.0/
.config/gtk-3.0/*
!.config/gtk-3.0/settings.ini


!.config/sxhkd/
.config/sxhkd/*
!.config/sxhkd/sxhkdrc


!.config/fcitx/
.config/fcitx/*
!.config/fcitx/profile
!.config/fcitx/config

!.config/zsh/
.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/.zpreztorc


!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim

!.config/lf/
.config/lf/*
!.config/lf/lfrc
!.config/lf/scope

!.config/packages/
.config/packages/*
!.config/packages/node-packages
!.config/packages/python-packages
!.config/packages/yay-packages

