/*

**/.DS_Store
**.log


# Whitelist

!.gitignore
!.Xdefaults
!.profile
!.zprofile
!.xinitrc
!.xprofile
!.Xdefaults
!.yarnrc

!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/bootstrap-arch

!.config/
.config/*
!.config/fontconfig/
.config/fontconfig/*
!.config/fontconfig/fonts.conf


!.config/gtk-2.0/
.config/gtk-2.0/*
!.config/gtk-2.0/gtkrc-2.0

!.config/gtk-3.0/
.config/gtk-3.0/*
!.config/gtk-3.0/settings.ini


!.config/sxhkd/
.config/sxhkd/*
!.config/sxhkd/sxhkdrc


!.config/fcitx/
.config/fcitx/*
!.config/fcitx/profile
!.config/fcitx/config

!.config/zsh/
.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/.zpreztorc


!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
